<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
    <h1>DEPARTURE:</h1>
    <h2>Price: {{flight_price_departure}}</h2>

    <h2>Arrival: {{flight_arrival_departure}}</h2>
    <h2>Departure: {{flight_departure_departure}}</h2>

    <h1>RETURN:</h1>
    <h2>Price: {{flight_price_return}}</h2>

    <h2>Arrival: {{flight_arrival_return}}</h2>
    <h2>Departure: {{flight_departure_return}}</h2>

    <h1>HOTEL:</h1>
    <h2>Name: {{hotel_name}}</h2>
    <h2>Price: {{hotel_price}}</h2>

    <h2>CheckIn: {{hotel_checkin}}</h2>
    <h2>CheckOut: {{hotel_checkout}}</h2>

</body>
</html>