<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Travel Planner</title>
</head>
<body>
<h1 class="d-flex justify-content-center">Show us your restrictions</h1>
<div class="d-flex justify-content-center">
    <form method="post">
        <div class="form-group">
            <label for="origin">Origin</label>
            <select name="origin">
              <option value="BCN" selected>Barcelona</option>
              <option value="BER">Berlin</option>
              <option value="DFW">Dallas</option>
              <option value="LON">London</option>
              <option value="NYC">New York</option>
              <option value="PAR">Paris</option>
              <option value="SFO">San Francisco</option>
            </select>
        </div>
        <div class="form-group">
            <label for="destination">Destination</label>
            <select name="destination">
              <option value="BCN">Barcelona</option>
              <option value="BER">Berlin</option>
              <option value="DFW">Dallas</option>
              <option value="LON" selected>London</option>
              <option value="NYC">New York</option>
              <option value="PAR">Paris</option>
              <option value="SFO">San Francisco</option>
            </select>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="number" name="price" id="price"  min="0" required>
        </div>

        <div class="form-group">
            <label for="outboundDate">Outbound date:</label>
            <input type="date" class="form-control" name="outboundDate" id="outboundDate" required>
        </div>

        <div class="form-group">
            <label for="returnDate">Return date:</label>
            <input type="date" class="form-control"  name="returnDate" id="returnDate" required>
        </div>
        <div class="form-group">
            <select  name="rangeCentral" id="rangeCentral" class="custom-select custom-select-sm" required>
                <option selected>Do you want to stay in the city center?</option>
                <option value=1>Yes</option>
                <option value=0>No</option>
            </select>
        </div>
        <div class="form-group">
            <select  name="rangePlayful" id="rangePlayful" class="custom-select custom-select-sm" required>
                <option selected>How playful do you want your plan?</option>
                <option value=0>Nothing</option>
                <option value=1>Some</option>
                <option value=2>Quite</option>
                <option value=3>A lot</option>
            </select>
        </div>
        <div class="form-group">
            <select name="rangeFestive" id="rangeFestive" class="custom-select custom-select-sm" required>
                <option selected>How festive do you want your plan?</option>
                <option value=0>Nothing</option>
                <option value=1>Some</option>
                <option value=2>Quite</option>
                <option value=3>A lot</option>
            </select>
        </div>
        <div class="form-group">
            <select name="rangeCultural" id="rangeCultural" class="custom-select custom-select-sm" required>
                <option selected>How cultural do you want your plan?</option>
                <option value=0>Nothing</option>
                <option value=1>Some</option>
                <option value=2>Quite</option>
                <option value=3>A lot</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>